/* 1 rem = 16px */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center;
}

h1 {
    /* border: 2px solid red; */
    margin-top: 2rem;
    font-size: 4rem;
}

h3 {
    /* border: 2px solid red; */
    margin-top: 1rem;
    font-size: 2rem;
}

.container {
    /* border: 2px solid red; */
    height: 70vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

#game {
    /* border: 2px solid yellow; */
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.Box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}

.Box:hover {
    background-color: rgb(250, 214, 250);
    height: 20vmin;
    width: 20vmin;
    font-size: 12vmin;
    cursor: pointer;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn:hover {
    height: 10vmin;
    width: 20vmin;
    cursor: pointer;
}

.msg-container {
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

#msg {
    color: #ffffc7;
    font-size: 8vmin;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: win 1s infinite;
}

@keyframes win {
    from {
        font-size: 8vmin;
    }

    to {
        font-size: 15vmin;
    }
}

.hide {
    display: none;
}

@media (max-width:510px) and (min-width:320px) {
    h1 {
        font-size: 3rem;
    }

    .container {
        height: 60vh;
    }

    .msg-container {
        height: 200vmin;
    }

}